{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>


<br />
<form>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="headline">Headline{% if pub %}
                    <span align="right" class="badge badge-success">Published</span>
                    {% else %}
                    <span class="badge badge-primary">Not Published</span>
                    {% endif %}
                </label>
                <input name="headline" type="text" class="form-control" id="headline" value="{{ headline }}">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="byline">Byline</label>
                <input name="byline" id="byline" class="form-control" type="text" value="{{ current_user.fullName }}" readonly>	
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="ID">ID</label>
                <input name="id" id="ID" class="form-control" type="number" value="{{ id }}" readonly>	
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="sectionSelect">Section</label>
                <select name="section" class="form-control" id="sectionSelect" value="{{ section }}">
                    <option>NCAA Basketball</option>
                    <option>Purdue Sports</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>			
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea name="content" id="summernote"></textarea>
        </div>
    </div>
    <br />

    <!-- ADD/CHANGE PHOTO -->
    <div class="form-row justify-content-center">
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Change photo
            </button>
        </div>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="form-row">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Add Photo&hellip; <input name="image" id="image"type="file" style="display: none;" >
                        </span>
                    </label>
                    <input name="image" type="text" class="form-control" readonly>
                </div>
            </div>
            <p> Current Image </p>
            <figure class="figure">
                <img src="{{ image }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            </figure>
        </div>
    </div>


    <br />
    <br />
    <br />

    <div class="form-row">
        <div class="col">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <button type="button" class="btn btn-danger btn-lg btn-block">Delete</button>
        </div>
        <div class="col">
            <button type="submit" name="no_pub" class="btn btn-primary btn-lg btn-block">Save and don't publish</button>
        </div>
        <div class="col">
            <button type="submit" name="pub" value="pub" class="btn btn-success btn-lg btn-block">Save and publish</button>
        </div>
    </div>
</form> 
<br />
<script>
$.ajax({
    url: 'https://api.github.com/emojis',
    async: false
}).then(function(data) {
    window.emojis = Object.keys(data);
    window.emojiUrls = data;
});
$('#summernote').summernote({
    placeholder: 'insert the text in me daddy uwu',
    tabsize: 2,
    height: 400,
    hint: {
        match: /:([\-+\w]+)$/,
        search: function (keyword, callback) {
            callback($.grep(emojis, function (item) {
                return item.indexOf(keyword)  === 0;
            }));
        },
        template: function (item) {
            var content = emojiUrls[item];
            return '<img src="' + content + '" width="20" /> :' + item + ':';
        },
        content: function (item) {
            var url = emojiUrls[item];
            if (url) {
                return $('<img />').attr('src', url).css('width', 20)[0];
            }
            return '';
        }
    }
});
var x = {{ body|tojson }};
$('#summernote').summernote('code', x);

</script>
{% endblock %}
