{% extends "articleBase.html" %}

{% block head %}
<!-- Place this data between the <head> tags of your website -->
<meta name="description" content="{{ tagline }}" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="{{ tagline }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ headline }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://nineyardsnews.com/a/{{articleID}}" />
<meta property="og:image" content="{{ img }}" />
<meta property="og:description" content="{{ tagline }}" />
{% endblock %}

{% block content %}
<div class = "row justify-content-center">
    <div class="col col-lg-8">
        <h1 class="display=4">{{ headline }}</h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col col-lg-8">
        <p class="text-left">By {{ byline }}</p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-8">
        <img src="{{ img }}" class="img-fluid" style="width:100%;" alt="Responsive image">
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-8">
        <p>{{ body|safe }}</p>
    </div>
</div>

{% endblock %}
