{% extends "articleBase.html" %}
{% block content %}
<div class = "row justify-content-md-center">
    <div class="col-8">
        <h1 class="display=4">{{ headline }}</h3>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-8">
        <p class="text-left">By {{ byline }}</p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-8">
        <img src="{{ img }}" class="img-fluid" style="width:100%;" alt="Responsive image">
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-8">
        <p>{{ body|safe }}</p>
    </div>
</div>

{% endblock %}
