{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>


<br />
<form>
	<div class="form-row">
		<div class="col">
			<div class="form-group">
				<label for="headline">Headline</label>
				<input type="text" class="form-control" id="headline" >
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			<div class="form-group">
				<label for="byline">Byline</label>
				<input id="byline" class="form-control" type="text" value="Ryan Chen" readonly>	
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="sectionSelect">Section</label>
				<select class="form-control" id="sectionSelect">
					<option>NCAA Basketball</option>
					<option>Purdue Sports</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="summernote"></div>
			<script>
				$.ajax({
					url: 'https://api.github.com/emojis',
					async: false
				}).then(function(data) {
					window.emojis = Object.keys(data);
					window.emojiUrls = data;
				});
$('#summernote').summernote({
	placeholder: 'insert the text in me daddy uwu',
	tabsize: 2,
	height: 400,
	hint: {
		match: /:([\-+\w]+)$/,
		search: function (keyword, callback) {
			callback($.grep(emojis, function (item) {
				return item.indexOf(keyword)  === 0;
			}));
		},
		template: function (item) {
			var content = emojiUrls[item];
			return '<img src="' + content + '" width="20" /> :' + item + ':';
		},
		content: function (item) {
			var url = emojiUrls[item];
			if (url) {
				return $('<img />').attr('src', url).css('width', 20)[0];
			}
			return '';
		}
	}
});
			</script>
		</div>
	</div>
	<br />
	<div class="form-row">
	</div>

	<br />
	<div class="form-row">
		<div class="col">
			<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
				Add photo
			</button>
		</div>
	</div>
	<br />
	<br />
	<script>
		function submitNoPublish(){
			var markupStr = $('#summernote').summernote('code');
			var headline = document.getElementById("headline").value;
			var byline = document.getElementById("byline").value;
			var section = document.getElementById("sectionSelect").value;

			console.log(markupStr);
			console.log(headline);
			console.log(byline);

			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/new", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				'headline': headline,
				'byline': byline,
				'section': section,
				'body': markupStr
			}));
			window.location.href = "/a";
		}

		function submitYesPublic(){
			var markupStr = $('#summernote').summernote('code');
		}
	</script>


	<div class="form-row">
		<div class="col-lg-auto">
			<button type="button" class="btn btn-danger btn-lg btn-block">Delete</button>
		</div>
		<div class="col-lg-auto">
			<button type="button" onclick="submitNoPublish()" class="btn btn-primary btn-lg btn-block">Save and don't publish</button>
		</div>
		<div class="col-lg-auto">
			<button type="button" class="btn btn-success btn-lg btn-block">Save and publish</button>
		</div>
	</div>
</form> 

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Choose photo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
