{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>


<br />
<form action="/new" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="headline">Headline</label>
                <input type="text" class="form-control" name="headline" id="headline" >
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="byline">Byline</label>
                <input name="byline" id="byline" class="form-control" type="text" value="Ryan Chen" readonly>	
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="sectionSelect">Section</label>
                <select name="section" class="form-control" id="sectionSelect">
                    <option>NCAA Basketball</option>
                    <option>Purdue Sports</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>			
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="tagline">Tagline</label>
                <input name="tagline" class="form-control" id="tagline">
            </div>			
        </div>

    </div>
    <div class="row">
        <div class="col">
            <textarea name="content" id="summernote"></textarea>
        </div>
    </div>
    <br />
    <div class="form-row">
    </div>

    <br />
    <div class="form-row">
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Add Photo&hellip; <input name="image" id="image"type="file" style="display: none;" >
                </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>
    </div>

    <br />
    <br />

    <div class="form-row">
        <div class="col-lg">
            <button type="button" class="btn btn-danger btn-lg btn-block">Delete</button>
        </div>
        <div class="col-lg">
            <button type="submit" name="no_pub" class="btn btn-primary btn-lg btn-block">Save and don't publish</button>
        </div>
        <div class="col-lg">
            <button type="submit" name="pub" class="btn btn-success btn-lg btn-block">Save and publish</button>
        </div>
    </div>
</form> 

<br />

<script>
//Function for the filepicker
$(function() {
    // We can attach the `fileselect` event to all file inputs on the page
    $(document).on('change', ':file', function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    // We can watch for our custom `fileselect` event like this
    $(document).ready( function() {
        $(':file').on('fileselect', function(event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;

            if( input.length ) {
                input.val(log);
            } else {
                if( log ) alert(log);
            }

        });
    });
});

//Function for SummerNote emojis
$.ajax({
    url: 'https://api.github.com/emojis',
    async: false
}).then(function(data) {
    window.emojis = Object.keys(data);
    window.emojiUrls = data;
});

//Function for SummerNote init
$('#summernote').summernote({
    placeholder: 'insert the text in me daddy uwu',
    tabsize: 2,
    height: 400,
    hint: {
        match: /:([\-+\w]+)$/,
        search: function (keyword, callback) {
            callback($.grep(emojis, function (item) {
                return item.indexOf(keyword)  === 0;
            }));
        },
        template: function (item) {
            var content = emojiUrls[item];
            return '<img src="' + content + '" width="20" /> :' + item + ':';
        },
        content: function (item) {
            var url = emojiUrls[item];
            if (url) {
                return $('<img />').attr('src', url).css('width', 20)[0];
            }
            return '';
        }
    }
});
</script>

{% endblock %}
